/**
 * Creates a slice of kanban cards across all project kanbans
 * 
 * @author Ljavuras <ljavuras.py@gmail.com>
 */

.kanban-slice {
    margin: var(--size-4-4) 0;
    cursor: default;

    --kanban-slice-lanes-spill-js: var(--file-margins);

    --kanban-slice-item-padding: 7px 9px 7px 15px;
    --kanban-slice-item-bg: var(--color-base-25);
    --kanban-slice-item-radius: var(--radius-m);

    /* 
     * Amount of shadow spill out of box,
     * used by containter to calculate padding and margin
     */
    --kanban-slice-item-spill: 4px;
    --kanban-slice-item-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.4),
                                inset 0px 1px 0px 0px rgba(255, 255, 255, 0.19),
                                inset 0px -1px 0px 1px rgba(0, 0, 0, 0.06),
                                0px 2px 2px 0px rgba(0, 0, 0, 0.13);
    --kanban-slice-item-shadow-interactive-hover: 0 0 0 2px hsl(var(--interactive-accent-hsl)),
                                                  var(--shadow-s);
}

.kanban-slice__title {
    font-size: var(--h3-size);
    line-height: 1.7;
}

.kanban-slice__title-option {
    padding: var(--size-4-1) var(--size-4-3);
    background-color: var(--background-secondary);
    border-radius: var(--radius-xl);
    cursor: pointer;
}

.kanban-slice__status {
    color: var(--text-muted);
}

.kanban-slice__lanes {
    /* Allow item shadow to spill out of this container,
     * and overflowed lanes to be visible */
    padding: var(--kanban-slice-item-spill) var(--kanban-slice-lanes-spill-js);
    margin: calc(var(--kanban-slice-item-spill) * -1) calc(var(--kanban-slice-lanes-spill-js) * -1) ;

    margin-top: calc(var(--size-4-2) - var(--kanban-slice-item-spill));
    display: flex;
    column-gap: 10px;
    overflow-x: auto;
}

.kanban-slice__lane {
    display: flex;
    min-width: 180px;
    flex-direction: column;
    row-gap: var(--size-4-1);
}

.kanban-slice__card,
.kanban-slice__lane-title {
    padding: var(--kanban-slice-item-padding);
    background-color: var(--kanban-slice-item-bg);
    border-radius: var(--kanban-slice-item-radius);
    box-shadow: var(--kanban-slice-item-shadow);
}

.kanban-slice .kanban-slice__lane .kanban-slice__lane-title {
    position: relative;
    color: var(--text-normal);
    margin-bottom: var(--size-4-1);
    display: flex;
    justify-content: space-between;
    column-gap: var(--size-4-1);
    text-wrap: nowrap;
    text-decoration: none;
    cursor: pointer;
}
/* Opacity transition is much faster than box-shadow transition */
.kanban-slice__lane-title::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: var(--kanban-slice-item-radius);
    box-shadow: var(--kanban-slice-item-shadow-interactive-hover);
    opacity: 0;
    transition: opacity var(--anim-duration-fast) var(--anim-motion-smooth);
}
.kanban-slice__lane-title:hover::after {
    opacity: 1;
}

.kanban-slice__lane-title-project {
    font-weight: var(--bold-weight);
}

.kanban-slice__lane-title-counter {
    padding: 0 var(--size-2-3);
    background-color: var(--background-secondary);
    border-radius: var(--radius-l);
}