/**
 * Lapel style
 * - Shrink lapel gutter width
 * - Use Lucide icons for heading markers instead
 * ============================================== */

.cm-heading-marker{
    min-width: unset;  /* Shrink heading gutter width */
    padding-top: 3px;  /* Align heading marker with line number */
}

/* Use icons for heading marker */
.cm-heading-marker::before {
    display: inline-block;
    content: '';
    width: 15px;
    height: 15px;
    background-color: var(--text-faint);
}

.cm-heading-marker[data-level="1"]::before {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M4 12h8'%3E%3C/path%3E%3Cpath d='M4 18V6'%3E%3C/path%3E%3Cpath d='M12 18V6'%3E%3C/path%3E%3Cpath d='m17 12 3-2v8'%3E%3C/path%3E%3C/svg%3E");
}

.cm-heading-marker[data-level="2"]::before {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M4 12h8'%3E%3C/path%3E%3Cpath d='M4 18V6'%3E%3C/path%3E%3Cpath d='M12 18V6'%3E%3C/path%3E%3Cpath d='M21 18h-4c0-4 4-3 4-6 0-1.5-2-2.5-4-1'%3E%3C/path%3E%3C/svg%3E");
}

.cm-heading-marker[data-level="3"]::before {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M4 12h8'%3E%3C/path%3E%3Cpath d='M4 18V6'%3E%3C/path%3E%3Cpath d='M12 18V6'%3E%3C/path%3E%3Cpath d='M17.5 10.5c1.7-1 3.5 0 3.5 1.5a2 2 0 0 1-2 2'%3E%3C/path%3E%3Cpath d='M17 17.5c2 1.5 4 .3 4-1.5a2 2 0 0 0-2-2'%3E%3C/path%3E%3C/svg%3E");
}

.cm-heading-marker[data-level="4"]::before {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M4 12h8'%3E%3C/path%3E%3Cpath d='M4 18V6'%3E%3C/path%3E%3Cpath d='M12 18V6'%3E%3C/path%3E%3Cpath d='M17 10v4h4'%3E%3C/path%3E%3Cpath d='M21 10v8'%3E%3C/path%3E%3C/svg%3E");
}

.cm-heading-marker[data-level="5"]::before {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M4 12h8'%3E%3C/path%3E%3Cpath d='M4 18V6'%3E%3C/path%3E%3Cpath d='M12 18V6'%3E%3C/path%3E%3Cpath d='M17 13v-3h4'%3E%3C/path%3E%3Cpath d='M17 17.7c.4.2.8.3 1.3.3 1.5 0 2.7-1.1 2.7-2.5S19.8 13 18.3 13H17'%3E%3C/path%3E%3C/svg%3E");
}

.cm-heading-marker[data-level="6"]::before {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M4 12h8'%3E%3C/path%3E%3Cpath d='M4 18V6'%3E%3C/path%3E%3Cpath d='M12 18V6'%3E%3C/path%3E%3Ccircle cx='19' cy='16' r='2'%3E%3C/circle%3E%3Cpath d='M20 10c-2 2-3 3.5-3 6'%3E%3C/path%3E%3C/svg%3E");
}
