/**
 * Coherent styles for Evergarden components, designed to look as native to
 * Obsidian as possible.
 *
 * @author Ljavuras <ljavuras.py@gmail.com>
 */

.evergarden {
    --evergarden-tag-background: var(--tag-background);
    --evergarden-tag-border: var(--tag-border-width) solid var(--tag-border-color);
    --evergarden-tag-border-radius: var(--tag-radius);
    --evergarden-tag-font-size: var(--tag-size);
    --evergarden-tag-color: var(--tag-color);
    --evergarden-tag-text-decoration: var(--tag-decoration);
    --evergarden-tag-padding: var(--tag-padding-y) var(--tag-padding-x);
    --evergarden-tag-transition: var(--anim-duration-superfast) var(--anim-motion-smooth);
    --evergarden-tag-background-hover: var(--tag-background-hover);
    --evergarden-tag-border-hover: var(--tag-border-width) solid var(--tag-border-color-hover);
    --evergarden-tag-color-hover: var(--tag-color-hover);
    --evergarden-tag-text-decoration-hover: var(--tag-decoration-hover);
}