/**
 * Project navigation
 *
 * @author Ljavuras <ljavuras.py@gmail.com>
 */

.project-navigation {
    border-bottom: 1px solid var(--background-modifier-border);
    padding-bottom: var(--height-selected-highlight);
    margin-bottom: var(--size-4-4);
    --height-selected-highlight: 2px;
}

ul.project-navigation__tabs-container {
    display: flex;
    gap: var(--size-4-2);
    margin-block-start: 0;
    margin-block-end: 0;
}

.project-navigation__tabs-container li.project-navigation__tab-container {
    margin-inline-start: 0;
    list-style-type: none;
}

.project-navigation__tab-container:has(.selected) {
    margin-bottom: calc(-1 * var(--height-selected-highlight));
    border-bottom: var(--height-selected-highlight) solid var(--interactive-accent);
}

.project-navigation__tab-container .project-navigation__tab {
    padding: var(--size-4-1) var(--size-4-2);
    display: flex;
    gap: var(--size-4-1);
    color: unset;
    border-radius: var(--radius-s);
    cursor: pointer;
}

.project-navigation__tab-container .project-navigation__tab:hover {
    color: unset;
    text-decoration-line: none;
    background-color: var(--interactive-normal);
}

.project-navigation__tab.disabled {
    color: var(--text-faint);
}

.project-navigation__tab-count {
    padding: 0 var(--size-2-3);
    background-color: var(--background-secondary);
    border-radius: var(--radius-l);
}

.icon-wrap {
    display: flex;
    align-items: center;
}